:root {
  --accent: #8159b6;
  --accent-light: #3764a7;
  --pure-white: #ffff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--accent);
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  /*border: 1px solid black;*/
}
.header {
  background-color: var(--accent, #174180);
}
.header a {
  color: var(--pure-white, #ffff);
  text-decoration: none;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.header-logo {
  display: inline-block;
  width: 20%;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
}
.header-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-item {
  float: right;
}
.header-menu-link {
  padding: 15px 15px;
  text-transform: uppercase;
}
.header-menu-link:hover {
  background-color: var(--accent-light);
}
